:root {
    --bs-primary: #141e46;
    --bs-primary-rgb: 20, 30, 70;
    --bs-secondary: #fff5e0;
    --bs-secondary-rgb: 255, 245, 224;
}

body {
    background-color: #fff5e0;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    text-decoration: none;
    color: #fff5e0;
    transition: all 0.3s;
    display: inline-block;
}

nav a:hover {
    transform: scale(1.1);
    font-weight: bold;
}

.card {
    height: 100%;
    transition: all 0.3s;
    color: #fff5e0;
}

.card > a {
    text-decoration: none;
}

.card:hover {
    transform: scale(.98);
}

.card span {
    font-weight: bold;
}

.btn-primary {
    --bs-btn-bg: #141e46;
    --bs-btn-border-color: #141e46;
    --bs-btn-hover-bg: #22357e;
    --bs-btn-hover-border-color: #22357e;
    --bs-btn-active-bg: #22357e;
    --bs-btn-active-border-color: #22357e;
}
